_site
.DS_Store
*.sublime-project
*.sublime-workspace
codekit-config.json
node_modules
Gemfile.lock
*~*
*#*
Makefile
*.a.out
.deps/*
config.log
config.status
autom4te.cache/*
configure.scan
.DS_Store*
*.o*
*~
*.hpp~
*.ipp~
*.ipp#
*.hpp#
*.orig
*.tar.gz
*.bkp
*.log
